body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    min-height:400px;
	position:relative;
    background-color: #000000;
}
#map-canvas { 
    height: 250px; 
    margin-left: -40px; 
    padding: 0px; 
    width: 108%;
}

.centeralign{text-align: center;}
.notfooterwrapper {}
.padding {
    padding: 25px;
}
.textshadowtest {
    position:absolute
    display: block;
    padding: 5px;
    background-color: #ffffff;    
    border-radius: 3px;
    box-shadow: 0px 20px 31px -25px rgba(0,0,0,0.75);
}
.internaltitle {
    font-size: 30pt;
    padding: -8px;
    margin-bottom: 30px;
    margin-left: -5px;
    font-weight: 600;
}
.textinsidebox{padding-left: 10px;
margin-top: 20px;}
.box {
    display: block;
    background-color: #ffffff;
    opacity: 0.85;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 4px 22px 3px rgba(0, 0, 0, 0.49);
    margin-bottom: 20px;
    margin-top: 30px;
}

.fullwidthbox {
    display: block;
    background-color: #ffffff;
    opacity: 0.85;
    padding: 30px;
    box-shadow: 0px 4px 30px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 20px;
    margin-top: 30px;
}

.titlebar {
    position: relative;
    display: block;
    color: #000000;
    background-color: #eeeeee;
    margin-left: 4%;
    margin-top: 2%;
    margin-right: 4%;
    height: 70px;
    font-family: 'Roboto';
    text-align: right;
}

.middle {
    margin-left: 15%;
    margin-right: 15%;
}

.wide {
    margin-left: 8%;
    margin-right: 8%;
}

.full {
    margin-left: 0%;
    margin-right: 0%;
}

.footer {
    display: block;
    padding: 30px;
    background-color: #111111;
    color: #eeeeee;
    bottom: 0;
    margin-top: 50px;
    height: 50px;
    width: 100%;
    left: 0px;
}

.progress {
    background: rgba(245, 245, 245, 1); 
    border: 0px solid rgba(255, 255, 255, 1); 
    border-radius: 2px; 
    height: 70px;

}
.progress-bar-custom {
    background: rgba(37, 120, 245, 1);
}