<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.grey-blue.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="../style/style.css" />
<link rel="stylesheet" media="screen and (max-width: 766px)" href="../style/fullwidth.css" />
<link rel="stylesheet" media="screen and (min-width:767px)" href="../style/normalwidth.css" />
<!--<script src="../Scripts/loadFundingData.js"></script>-->
<html>
<style>
    .mdl-layout__drawer {
        overflow: hidden;
    }
    
    .material-icons {
        margin-top: 10px;
    }
    
    .layout-transparent {
        background-color: #0097A7;
    }
    
    .mdl-textfield__label {
        width: 180px;
    }
    
    .mdl-textfield__input {
        width: 180px;
    }
    
    .layout-transparent .mdl-layout__header,
    .layout-transparent .mdl-layout__drawer-button {
        color: white;
    }
</style>
<div class="layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Lesotho Funding Project</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="../views/home.html">Home</a>
             <a class="mdl-navigation__link" href="../views/Tv.php">TV View</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="notfooterwrapper">
            <div class="wide">
                <div class="box">
                    <div class="textshadowtest">
                        <div class="internaltitle">
                            <div class="centeralign">
                                ADMIN PAGE
                            </div>
                        </div>
                    </div>
                    <form name="form2" method="post" action="../db/postFundingForm.php">
                        <div class="textinsidebox">

                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--4-col">
                                    <div class="mdl-textfield mdl-js-textfield">
                                        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="FundingAmount" name="FundingAmount" />
                                        <label class="mdl-textfield__label" style="color: gray;" for="sample2">Amount Funded
                                            <!--<div id="FundingAmount"></div>-->
                                        </label>
                                        <span class="mdl-textfield__error">Input is not a number.</span>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col">

                                    <div class="mdl-textfield mdl-js-textfield">
                                        <input class="mdl-textfield__input" type="text" id="CurrentLocation" name="CurrentLocation" />
                                        <label class="mdl-textfield__label" style="color: gray;" for="sample1">Current location</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col">
                                    <div class="mdl-cell mdl-cell--4-col">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            <input class="mdl-textfield__input" type="text" id="Description" name="Description" />
                                            <label class="mdl-textfield__label" style="color: gray;" for="sample1">Description</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col">
                                    <div class="mdl-textfield mdl-js-textfield">
                                        <input class="mdl-textfield__input" type="text" id="TitleOne" name="TitleOne" style="width: 300px;" />
                                        <label class="mdl-textfield__label" style="width: 300px; color: gray;" for="sample1">Update 1 Title...</label>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col">
                                    <div class="mdl-textfield mdl-js-textfield">
                                        <textarea class="mdl-textfield__input" style="width: 300px;" type="text" rows="3" id="EventOne" name="EventOne"></textarea>
                                        <label class="mdl-textfield__label" style="width: 300px; color: gray;" for="sample5">Update 1 Details...</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" id="TitleTwo" name="TitleTwo" style="width: 300px;" />
                                    <label class="mdl-textfield__label" style="width: 300px; color: gray;" for="sample1">Update 2 Title...</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <textarea class="mdl-textfield__input" style="width: 300px;" type="text" rows="3" id="EventTwo" name="EventTwo"></textarea>
                                    <label class="mdl-textfield__label" style="width: 300px; color: gray;" for="sample5">Update 2 Details...</label>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <br>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" id="TitleThree" name="TitleThree" style="width: 300px;" />
                                    <label class="mdl-textfield__label" style="width: 300px; color: gray;" for="sample1">Update 3 Title...</label>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <textarea class="mdl-textfield__input" style="width: 300px;" type="text" rows="3" id="EventThree" name="EventThree"></textarea>
                                    <label class="mdl-textfield__label" style="width: 300px; color: gray;" for="sample5">Update 3 Details...</label>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--8-col">
                                <a href="../views/home.html">
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="height: 50px; width: 200px; text-transform: none;" type="button">
                                        Back
                                    </button>
                                </a>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="height: 50px; width: 200px; text-transform: none;" type="submit">
                                    Save Changes
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <script src="http://cdn.pubnub.com/pubnub-3.7.1.min.js"></script>
                <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
            </div>
        </div>
    </main>
</div>
</html>